<Panel gtform Dialog>
    <phead>修改父节点</phead>
    <pbody style='padding: 5px 0px 5px 5px;' ng-init="model.KeyType=0">
        <form gtform name='form'>
            <div style="height: 500px; overflow: hidden;">
                <div class="row" style="margin: 5px;">
                    <div class="col-md-5" style="padding: 0px; padding-right: 5px;">
                        <Panel>
                            <phead>
                                选择父节点
                            </phead>
                            <pbody style="height: 450px; overflow: auto;">
                                <Deptment id="GroupUser" check="true" chkStyle="radio"></Deptment>
                            </pbody>
                        </Panel>
                    </div>
                    <div class="col-md-7" style="padding: 0px 5px;">
                        <Panel>
                            <phead>
                                已选择组织节点
                            </phead>
                            <pbody style="height: 450px; overflow: auto;">
                                <dataGrid agGrid="gridOptions" check="false"></dataGrid>
                            </pbody>
                        </Panel>
                    </div>
                </div>
            </div>
        </form>
    </pbody>
    <pfoot>
        <ButtonBar></ButtonBar>
    </pfoot>
</Panel>
