<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="Base.Head"></span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="Web.Index">
      <span class="font-bold" translate="Base.Home">首页</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a href="" target="_blank">
      <span class="font-bold">职工健康网</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a href="" target="_blank">
      <span class="font-bold">教育云</span>
    </a>
  </li>
</ul>
<!-- / list -->