<panel Dialog>
    <phead> <span ng-if='model.Id'>编辑[标题]</span> <span ng-if='!model.Id'>新增[标题]</span></phead>
    <pbody>
        <form gtform name='form'>
            <FormRow colspan="2" Label="标题" required="true">
                <TextBox ngmodel="model.Title" required="true"></TextBox>
            </FormRow>
<!--             <FormRow colspan="2" Label="封面" required="true">
                <File ngmodel="Photo" required="true"></File>
            </FormRow> -->
            <FormRow colspan="2" Label="资讯分类" required="true">
                <DropDownTreeList ngmodel="model.FkNewsCatagoryId" ParentId="3e157b22-400e-c761-2347-08d3175b4dda" configtree="event.ConfigTree()" DisplayModel="model.NoticeLevelName" model="model" required="true"></DropDownTreeList>
            </FormRow>
            <FormRow colspan="2" Label="选择背景图片" required="true">
                <img src="{{imgSrc}}" />
                <FileInputBtn value="选择图片"></FileInputBtn>
            </FormRow>
            <FormRow colspan="2" Label="内容" required="true">
                <RichTextBox value="内容" ngmodel="Context" richtextid="richtext" uploadtempid="upload" required="true"></RichTextBox>
            </FormRow>
        </form>
    </pbody>
    <pfoot>
        <ButtonBar></ButtonBar>
    </pfoot>
</panel>