	<Panel gtform Dialog>
		<phead>账号编辑</phead>
		<pbody>
			<form name="form" class="form-validation form-horizontal">
				<RowTextBox Label="账号" colspan="2" ngmodel="model.Account" ngdisabled="model.Id" Required></RowTextBox>
				<RowTextBox Label="账号名称" colspan="2" ngmodel="model.AccountName" Required></RowTextBox>
				<RowTextBox Label="密码" colspan="2" ngmodel="model.Password" ng-if="!model.Id" Required></RowTextBox>
				<RowTextBox Label="确认密码" colspan="2" ngmodel="model.RePassword" ng-if="!model.Id" Required></RowTextBox>
				<FormRow Label="所属应用" Required>
					<input type="text" ng-model='model.AppId' Required ng-show='false'>
					<DropDown placeholder='请选择...' search='true' Display='{{$select.selected.AppName}}' ngmodel='model.AppId' repeat="option.AppId as option in AppList" filter="AppName">
		            	<div ng-bind-html="option.AppName | highlight: $select.search"></div>
		        	</DropDown>
				</FormRow>
				<RowTextBox Label="账号描述" colspan="2" ngmodel="model.AccountDesc"></RowTextBox>
			</form>
		</pbody>
		<pfoot>
			<ButtonBar></ButtonBar>
		</pfoot>
	</Panel>