<Panel Dialog>
    <phead>图片编辑</phead>
    <pbody style='padding:0;'>
        <div ng-init="imageCropStep = 2" ng-show="imageCropStep == 2" id="imgCrop">
<!-- <image-crop       
                 data-height="200" //shape's height
                 data-width="150" //shape's width
                 data-shape="square" //the shape.. square or circle
                 data-step="imageCropStep"//scope variable that will contain the current step of the crop (1. Waiting for source image; 2. Image loaded, waiting for crop; 3. Crop done)
                 src="imgSrc" //scope variable that will be the source image for the crop (may be a Blob or base64 string)
                 data-result-blob="result" //scope variable that will contain the Blob information
                 data-result="resultDataUrl" //scope variable that will contain the image's base64 string representation
                 crop="initCrop" //scope variable that must be set to true when the image is ready to be cropped
                 padding="250" //space, in pixels, rounding the shape
                 max-size="1024" //max of the image, in pixels
                 ></image-crop> -->
            <image-crop data-height="320" data-width="640" data-shape="square" data-step="imageCropStep" src="imgSrc" data-result="result" data-result-blob="resultBlob" crop="initCrop" padding="150" max-size="1024"></image-crop>
        </div>
        <div>
            <img ng-src="{{result}}" / style="display: block; margin: 20px auto;" id="outputImg">
        </div>
    </pbody>
    <pfoot>
        <ButtonBar></ButtonBar>
    </pfoot>
</Panel>

<!-- <img src="/resources/images/logo/koala.jpg" id="koala" alt=""> -->
